@import '../../null.scss';

.smmWrapper {
    position: absolute;
    top: 25vw;
    left: 12vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 105;

    .text {
        position: absolute;
        width: 90%;
        height: 15vw;
        top: 2vw;
        background-color: var(--bordercolor);
        border-radius: 2vw;
        text-wrap: wrap;
        color: var(--textcolor);

        span {
            display: block;
            position: relative;
            text-align: center;
            font-weight: 100;
            text-transform: uppercase;
            top: 9vw;
            font-size: 2vw;
            // text-shadow:  .5vw .5vw 1vw rgb(255, 255, 255);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            overflow: visible;
        }
    }
}

.smmMenu {
    position: relative;
    width: fit-content;
    display: flex;
    cursor: default;
    z-index: 100;
    background-color: #fcf8e262;
    border-radius: 2vw;

    .menuItem {
        margin: 3vw;
        transition-duration: .3s;
        pointer-events: all;
        cursor: pointer;
        overflow: visible !important;

        a {
            pointer-events: all;
            font-size: calc(var(--index) * 1);
        }

        img {
            pointer-events: all;
            width: calc(var(--index) * 3);
            opacity: .6;
            filter: drop-shadow(1vw 1vw 1vw black);

        }

        img:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }

    .menuItem:hover {
        scale: 1.2;
    }

}

@media screen and (max-width: 850px) {
    .smmWrapper {
        position: absolute;

        .smmMenu {
            // position: fixed;
            position: absolute;
            top: -15vw;
            left: 50%;
            margin-left: 40vw;
            background-color: #25252562;

            .menuItem {
                margin: 3vw;
                transition-duration: .3s;
                cursor: pointer;
                overflow: visible !important;

                a {
                    font-size: calc(var(--index) * 1);
                }

                img {
                    width: calc(var(--index) * 3);
                    opacity: .6;
                    filter: drop-shadow(1vw 1vw 1vw black);

                }

                img:hover {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }

            .menuItem:hover {
                scale: 1.2;
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .smmWrapper {
        top: 17vh;
        left: -3vw;


        .smmMenu {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            cursor: default;
            gap: calc(var(--index) * 1);
            margin-left: calc(var(--index) * 3);

            background-color: whitesmoke;
            position: relative;
            overflow: visible;
            border-radius: 2vw;
            box-shadow: .5vw .5vw 1.5vw rgba(0, 0, 0, 0.2),
                .5vw .5vw 1.5vw rgba(0, 0, 0, 0.2),
                -.5vw -.5vw 1.5vw rgba(255, 255, 255, 0.5),
                -.5vw -.5vw 1.5vw rgba(255, 255, 255, .5),
                -.5vw -.5vw 1.5vw rgba(255, 255, 255, .5),
                inset 2vw 1vw 3vw rgba(0, 0, 0, 0.02);

            .menuItem {
                transition-duration: .3s;
                cursor: pointer;
                background-color: #b9b9b9;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                color: transparent;
                text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
                a {
                    font-size: calc(var(--index) * 1);
                }

                img {
                    width: calc(var(--index) * 3);
                    filter: grayscale(.7);
                    opacity: 1;
                }

                img:hover {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }

            .menuItem:hover {
                scale: 1;
            }

        }
    }
}