@import '../../null.scss';

.mainWrapper {
    transition-duration: .5s;
    // transform: translateX(-50vw);
}

@media screen and (min-width: 768px) {
    .mainWrapper {
        position: relative;
        top: 100vh;
    }
}