*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --headerColor: #f4efec;
    --textColor: #cdc6c3;
    --gallery-gap: calc(var(--index) * 6);
}

@font-face {
    font-family: releway-parallax;
    src: url('./static/creative-scroll-website/fonts/raleway-regular.woff2');
}

@font-face {
    font-family: outfit-parallax;
    src: url('./static/creative-scroll-website/fonts/outfit-regular.woff2');
}

body{
    background-image: url('./static/creative-scroll-website/img/bg.jpg');
    background-size: 50px;
    color: #fafafa;
    font-family: releway-parallax;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: outfit-parallax;
}

@media screen and (max-width: 600px) {
    *{
        // overflow: hidden;
    }
}

@keyframes mountPhotoGallery {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes mountPhotoGalleryImage {
    0%{
        scale: 2;
        filter: blur(10px);
    }
    100%{
        scale: 1;
        filter: blur(0px);
    }
}

@keyframes mountPhotoGalleryMobileLeft {
    0%{
        transform: translateX(100vw);
        scale: 1;
        filter: blur(10px);
    }
    100%{
        transform: translateX(0vw);
        scale: 1;
        filter: blur(0px);
    }
}
@keyframes mountPhotoGalleryMobileRight {
    0%{
        transform: translateX(-100vw);
        scale: 1;
        filter: blur(10px);
    }
    100%{
        transform: translateX(0vw);
        scale: 1;
        filter: blur(0px);
    }
}

@keyframes swipeLeft {
    0%{
        transform: translateX(0vw);
        scale: 1;
        filter: blur(0px);
    }
    100%{
        transform: translateX(-100vw);
        scale: 1;
        filter: blur(30px);
    }
}

@keyframes swipeRight {
    0%{
        transform: translateX(0vw);
        scale: 1;
        filter: blur(0px);
    }
    100%{
        transform: translateX(100vw);
        scale: 1;
        filter: blur(30px);
    }
}