/* .initialised {
    animation: hide .75s forwards;
}

@keyframes hide {

    0%,
    100% {
        opacity: 1;
        filter: grayscale(0);
    }

    25%,
    75% {
        opacity: 0;
        filter: grayscale(1);
    }
}

@keyframes hide2 {

    0%,
    100% {
        opacity: 1;
    }

    15%

    ,
    75% {
        opacity: 0;
    }
} */
