@import '../../null.scss';

.photoGalleryMain{
    width: 100vw;
    background-color: whitesmoke;
    overflow: hidden;
    // background-image: url("../../static/img/texture/textureGraphit.png");
    // background-size: contain;
}