@import '../../main.scss';

.editedElements {
    position: relative;
    right: calc(var(--index) * 2);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 128, 0, 0.164);
    border-radius: var(--index);
    overflow: hidden;
    box-shadow: .5vw .5vw 1vw .5vw rgba(0, 0, 0, 0.329);

    .elementsList {
        display: flex;
        flex-direction: column;
        width: 30%;
        font-weight: 400;
        padding: var(--index);
        border-right: 1px solid gray;

        .openLists {
            display: flex;
            flex-direction: row;
            font-size: calc(var(--index) * .9);
            font-weight: 700;
            width: fit-content;

            .arrow {
                display: inline-block;
                transform: rotate(0deg);
                transition-duration: .5s;
                text-align: center;
                width: var(--index);
            }
        }

        .listItem {
            position: relative;
            left: var(--index);
            transition-duration: .3s;
            font-weight: 900;
            cursor: pointer;
        }

        .listItem::after {
            content: "";
            width: 0;
            height: 2px;
            position: absolute;
            right: 0;
            bottom: calc(var(--index) * -.1);
            background: yellow;
            transition: .3s;
        }

        .listItem:hover::after {
            width: 100%;
        }

        .lists {
            position: relative;
            top: 0vw;
            width: 100%;
            text-align: end;
            display: flex;
            flex-direction: column;
            align-items: center;

            .menuItem {
                width: fit-content;
                position: relative;
                text-align: center;
                text-decoration: none;
                left: var(--index);
                margin: calc(var(--index) * .2);
                cursor: pointer;
            }

            .menuItem::after {
                content: "";
                width: 0;
                height: 2px;
                position: absolute;
                right: 0;
                bottom: calc(var(--index) * -.2);
                background: yellow;
                transition: .3s;
            }

            .menuItem:hover::after {
                width: 100%;
            }

        }
    }

    .editableElement {
        position: relative;
        width: 70%;
        box-sizing: border-box;
        overflow: scroll;
        background-color: rgb(187, 187, 187);
        padding: var(--index);
    }
}