.elementAnimation{
    width: 100%;
    /* height: 100vh; */
    /* background-color: gray; */
}
.elementStatic{
    width: 100%;
    height: 100vh;
    background-color: green;
}
.element-animation{
    opacity: 0;
}

.element-show{
    opacity: 1;
    transition: opacity 1s;
}